@import "styles/variables";

.category{
  width: 100%;
  padding: 2rem;
  background: $pink;
  border-radius: 20px;
  display: flex;
  position: relative;

  .text{
    h3{
      font-size: 20px;
      margin: 0;
    }

    p{
      font-size: 12px;
      margin: 0 0 100px 0;
    }

    a{
      font-size: 14px;
      text-decoration: underline;
    }
  }

  .catImg{
    height: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}