@import "styles/variables";

.product{
    margin: 3rem 0;
    color: $text;

    .top{
        display: grid;
        grid-template-columns: 1fr 1fr;

        img{
            height: 360px;
        }

        .text{
            align-self: center;

            h1{
                margin: 0;
            }

            p{
                margin: 0;
            }

            .total{
                display: inline-flex;
                padding: 0.5rem;
                border-radius: 30px;
                border: 1px solid $text;
                margin: 1rem 0;

                p{
                    margin: 0 1rem;
                }

                .add, .sub{
                    font-size: 20px;
                    cursor: pointer;
                }
            }

            .buttons{
                display: flex;
                margin: 1rem 0;

                button{
                    border: 2px solid $pink;
                    padding: 0.8rem 1.4rem;
                    border-radius: 3rem;
                    font-size: 14px;
                    font-weight: bold;
                    outline: none;
                    margin: 0 1rem 0 0;
                    cursor: pointer;
                    transition: background 0.4s ease;
                }

                button:nth-child(1){
                    background: $pink;
                    color: $grey;

                    &:hover{
                        background: none;
                        color: $pink;
                    }
                }

                button:nth-child(2){
                    background: none;
                    color: $pink;

                    &:hover{
                        background: $pink;
                        color: $grey;
                    }
                }
            }
        }
    }

    h2{
        font-size: 24px;
        margin: 3rem 0 1rem 0;
    }

    .description{
        margin: 0;
    }

    .share{
        display: flex;
        color: $grey;
        margin: 1rem 0;

        p{
            margin-right: 1.2rem;
            padding: 0.6rem 1rem;
            cursor: pointer;

            span{
                margin-right: 0.5rem;
            }
        }

        .fb{
            background: #3A559F;
        }

        .insta{
            background: #AC398A;
        }

        .tweet{
            background: #0896DF;
        }
    }

    .allProducts{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
    }
}