@import "styles/variables";

.product{
    margin: 3rem 0;
    color: $text;

    .top{
        display: grid;
        grid-template-columns: 1fr 1fr;

        .image img{
            height: 360px;
        }

        .text{
            align-self: center;

            h1{
                margin: 0;
            }

            p{
                margin: 0;
            }

            .total{
                display: inline-flex;
                padding: 0.5rem;
                border-radius: 30px;
                border: 1px solid $text;
                margin: 1rem 0;

                p{
                    margin: 0 1rem;
                }

                .add, .sub{
                    font-size: 20px;
                    cursor: pointer;
                    user-select: none;
                }
            }

            .buttons{
                display: flex;
                flex-wrap: wrap;

                button{
                    border: 2px solid $pink;
                    padding: 0.8rem 1.4rem;
                    border-radius: 3rem;
                    font-size: 14px;
                    font-weight: bold;
                    outline: none;
                    margin: 1rem 1rem 1rem 0;
                    cursor: pointer;
                    transition: background 0.4s ease;
                }

                button:nth-child(1){
                    background: $pink;
                    color: $grey;

                    &:hover{
                        background: none;
                        color: $pink;
                    }
                }

                button:nth-child(2){
                    background: none;
                    color: $pink;

                    &:hover{
                        background: $pink;
                        color: $grey;
                    }
                }
            }
        }
    }

    h2{
        font-size: 24px;
        margin: 3rem 0 1rem 0;
    }

    .description{
        margin: 0;
    }

    .share{
        display: flex;
        flex-wrap: wrap;
        color: $grey;
        margin: 1rem 0;

        p{
            margin-right: 1.2rem;
            padding: 0.6rem 1rem;
            cursor: pointer;
            transition: 0.4s ease;

            span{
                margin-right: 0.5rem;
            }
        }

        .fb{
            background: #3A559F;
            border: 2px solid #3A559F;

            &:hover{
                background: none;
                color: #3A559F;
            }
        }

        .insta{
            background: #AC398A;
            border: 2px solid #AC398A;

            &:hover{
                background: none;
                color: #AC398A;
            }
        }

        .tweet{
            background: #0896DF;
            border: 2px solid #0896DF;

            &:hover{
                background: none;
                color: #0896DF;
            }
        }
    }

    .allProducts{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
    }
}

@media screen and (max-width: 1024px) {
    .product{

        .top{
            grid-template-columns: 1fr;

            .image{
                justify-self: center;
                margin: 0 0 2rem 0;
            }
        }

        .allProducts{
            grid-template-columns: 1fr 1fr 1fr;
        }

    }
}

@media screen and (max-width: 768px) {
    .product{

        .top{
            .image img{
                width: 80%;
                height: auto;
            }
        }

        .allProducts{
            grid-template-columns: 1fr 1fr;
        }

    }
}

@media screen and (max-width: 500px) {
    .product{

        .allProducts{
            grid-template-columns: 1fr;
        }

    }
}

@media screen and (max-width: 425px) {
    .product{
        .top .text{
            h1{
                font-size: 28px;
            }

            p{
                font-size: 14px;
            }
        }

        h2{
            font-size: 20px;
        }

        .description{
            font-size: 14px;
        }
    }
}