@import "styles/variables";

.footer{
  padding: 3rem 0 1rem 0;

  .columns{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .column{
      margin: 1rem;

      img{
        width: 100px;
      }

      h3{
        margin: 0;
      }

      ul{
        list-style: none;
        margin: 1rem 0;
        padding: 0;
      }
    }
  }

  .end{
    text-align: center;
  }
}

@media screen and (max-width: 783px) {
  .footer{
    .columns{
      justify-content: flex-start;
    }
  }
}