.categories{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 2rem 0;
}

@media screen and (max-width: 1024px) {
  .categories{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .categories{
    grid-template-columns: 1fr;
  }
}